/* Daily Summary Styles */
.daily-summary {
  background: var(--white-color);
  padding: 3vh 2vw;
  border-radius: 15px;
}

.stats-grid {
  display: flex;
  justify-content: space-between;
  gap: 1vw;
  flex-wrap: wrap;
}
