.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 29px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.sidebar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 768px) {
  .sidebar-toggle {
    display: block;
    margin-right: 15px;
  }
}
