.stat-card {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 1.5vh 1.25vw;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 6.6px 1px rgba(0, 0, 0, 0.11);
  flex: 1;
}

.stat-icon {
  width: 2.5vw;
  height: 2.5vw;
  flex-shrink: 0;
}

.stat-content {
  display: flex;
  flex-direction: column;
}

.stat-number {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}

.stat-label {
  font-size: .75rem;
  font-weight: 700;
  color: #000;
}
